@*
*@
@{
    ViewBag.Title = "My Web App Assignment";
    ViewBag.Name = "Rheanna Brown";
}

<body>
    <h2>@ViewBag.Name</h2>
    <img src="~/img/italycraft.jpg" width="300" height="400" alt="me in Calcata, Italy" class="center" />
    <br />
    <br />
    <h3>What I hope to learn:</h3>
    <div>
        <p>
            In this 413 course, I hope to learn more about building web applications in a more seamless manner.
            I want to learn the industry-standard tools that will help me to create a professional looking and robust application.
            I also want to be proficient in incorporating security measures into my projects. I'm also excited to learn REACT and
            use it to build front end applications. By the end of this class, I hope to have a strong foundation in building
            web applications and be able to apply it in real life situations.
        </p>
    </div>

    <br />
    <!--top 3 jobs I'm interested in pursuing-->
    <h3>The top 3 jobs I want to pursue when I graduate are:</h3>
    <ol class="top-jobs">
        <li>Business Intelligence Analyst</li>
        <li>Data Scientist</li>
        <li>UX/UI Designer</li>
    </ol>

</body>